*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #5d3bee;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-famili: inherit;
}
