*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #5d3bee;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100px;
  margin-bottom: 30px;

  background: #ccc;

  font-size: 30px;
  font-weight: 600;
}
/* Common */
a {
  text-decoration: none;
}

.btn {
  width: 170px;
  height: 62px;
  background: var(--primary-color);
  color: #fdfdfd;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 6rem; /* 166.667% */
  display: block;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

/* Header Nav */
.header {
  background: #fbfaff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1330px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  margin-bottom: 44px;
}

.nav-mobile,
.nav-mobile__bar,
.mobile-only,
.mobile-nav-menu {
  display: none;
}

.nav-contact {
  display: flex;
  align-items: center;
}

.nav-contact__email {
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3rem; /* 136.364% */
  text-decoration-line: underline;
}

.nav-contact__icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid rgb(93 59 235 / 20%);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-contact__img {
  width: 24px;
  height: 16px;
}

.nav-icon {
  width: 100px;
  height: 100px;
}

.nav-icon__image {
  width: 100%;
}

.nav-menu__list {
  display: flex;
  gap: 43px;
}

.nav-menu__item a {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
}

.nav-menu__item:hover a {
  text-decoration: underline;
}

/* Header Hero */
.hero-media {
  width: 88%;
  position: relative;
}

.hero-media-image {
  width: 90%;
  z-index: 2;
  position: relative;
}

.hero-media-decor {
  position: absolute;
  bottom: 0;
  transform: translateX(-85%);
  z-index: 1;
  height: 110%;
}

.hero-info__header {
  width: 500px;
  color: #080415;
  font-size: 8rem;
  font-weight: 500;
  line-height: 7.6rem; /* 95% */
  letter-spacing: -0.32rem;
  margin-bottom: 20px;
}

.hero-info__desc {
  margin-bottom: 50px;
  width: 370px;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem; /* 166.667% */
}

.hero-info {
  padding-left: 30px;
}

.hero-cta {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 100px;
}

.hero-cta__link {
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem; /* 166.667% */
  text-decoration-line: underline;
}

.header .row {
  align-items: center;
}

.hero-follow {
  display: flex;
  align-items: center;
  gap: 30px;
  /* margin-bottom: 38px; */
}

.hero-follow__list {
  color: #51586a;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3rem; /* 187.5% */
}
